# ===== Visual Studio / .NET =====
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Build 결과물 =====
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# ===== NuGet =====
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# ===== 기타 =====
*.log
.DS_Store
Thumbs.db
